<input class='hide contact_captcha_shape' value="<%= shape %>" />
<input class='hide contact_captcha_name' value="<%= l('Name') %>" />
<input class='hide contact_captcha_email' value="<%= l('Email') %>" />
<input class='hide contact_captcha_message' value="<%= l('Message') %>" />
<input class='hide contact_captcha_error' value="<%= error ? "mc-invalid" : "" %>" />
<input class='hide contact_captcha_send_message' value="<%= l('Send Message') %>" />


<section class="bordered">
	<menu class="footer">
		<li class="arrow" name="about"><%= l('About LineSocial') %></li>	
		<li class="section about"><% include about %></li>
		<li class="arrow" name="faq"><%= l('FAQ') %></li>	
		<li class="section faq"><% include faq %></li>		
		<li class="arrow" name="terms"><%= l('Terms & Conditions') %></li>
		<li class="section terms"><% include terms %></li>		
		<li class="arrow" name="contact"><%= l('Contact') %></li>	
		<li class="section contact"><% include contact %></li>			
	</menu>
	<menu class="addthis">
		<li>       
			<!-- AddThis Button BEGIN -->
			<div class="addthis_toolbox addthis_default_style ">
			<a class="addthis_button_preferred_1"></a>
			<a class="addthis_button_preferred_2"></a>
			<a class="addthis_button_preferred_3"></a>
			<a class="addthis_button_preferred_4"></a>
			<a class="addthis_button_compact"></a>
			<a class="addthis_counter addthis_bubble_style"></a>
			</div>
			<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
			<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52ccc1ad2b8abf5f#async=1"></script>
			<!-- AddThis Button END -->
		</li>
	</menu>			
	<p>&copy; 2013 <%= l('LineSocial') %></p>
</section>
  
    <!-- build:js scripts/vendor/vendor.js -->
    <!-- bower:js -->
      <script data-main="js/main" src="js/require-jquery.js"></script> 
    <!-- endbower -->
    <!-- endbuild -->	
  <section class="body right"></section>
  <section class="body left"></section>
  </body>
</html>
