<% include header %>

  <div class="container hero-unit">
      <form method="post" action="/login" class="form-horizontal form-skin">
        <div class="control-group">
          <div class="controls">
            <input type="email" id="inputEmail" name="email" placeholder="<%= l('Email') %>">
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <input type="password" id="inputPassword" name="password" placeholder="<%= l('Password') %>">
          </div>
        </div>
        <div class="control-group">      
          <div class="controls">
	          <table>
		          <tr class="on_off">
					<th><label for="on_off"><%= l('Remember Me:') %></label></th>
					  <td>
					  <label class="on_off">
					    <input type="checkbox" id="on_off" />
					    </label>
					  </td>
					</tr>
			  </table>
            <button id="submit" type="submit" class="btn btn-flat btn-blue no-radius"><%= l('Sign In') %></button>
	        <p>
	        	<a href="/forgot_password">Forgot Password?</a>
	        </p>

            <a href="/register"><button id="register" type="button" class="btn btn-flat btn-blue no-radius"><%= l('Register Here') %></button></a>
          </div>
        </div>
      </form>
      <br />
      <a class="facebook" href="/auth/facebook"> <img src="img/linelogoBlackGreen.png" style="height: 20px; display:inline-block;margin: 0px 15px; cursor:pointer; cursor:hand; border:0;" /><img src="/img/login-with-facebook.png" width="154" height="22"></a>
 	  <br />
 	  <br />
 	  

  </div>


<%include footer %>
 <div class="overlay"><div></div></div>
<script type="text/javascript">
$(document).ready(function(){
    if ($("section").hasClass("password_reset")) {
		$('#captcha').motionCaptcha('<%= shape %>');	   
    }
	var invalid = getURLParameter('invalid');
	
	$(".overlay > div").canvasLoader();
	setTimeout(function() {
    $(".overlay").remove();
    setTimeout(function() {
   	$(".overlay > canvas").remove();
	if (invalid) {
		$("#inputPassword").after("<label class='invalid'>Invalid Login</label>");
		$("input").addClass("invalid");
	}   	
    }, 1000);
    }, 500);


    $(".footer li[name='contact']").click(function(){
            	console.log("contact");
       $("#captcha").remove();     	
       var contact_form = '<form id="captcha" method="POST" action="/contact">' +
        '	<input type="text" id="contactName" name="name" placeholder="<%= l('Name') %>"> '+
        '	<input type="email" id="contactEmail" name="email" placeholder="<%= l('Email') %>"> '+
        '	<input type="text" id="contactMessage" name="message" placeholder="<%= l('Message') %>"> '+
		'<div id="mc">'+
        '    <canvas id="mc-canvas" class="<%= error ? "mc-invalid" : "" %>"></canvas>'+
        '</div>'+  
        '<input id="submit" type="submit" value="<%= l('Send Message') %>">'+
        '</form>';
        $(".footer li.contact").append(contact_form); 
        $('#captcha').motionCaptcha('<%= shape %>');	
    });
    
});
</script>



