<section class="body right">
<!--messages-->
<% include subpage_header %>
	<div class="wrapper">
	<h2 class="light no-margin hide"><%= l('Messages') %></h2>

    <section class="chat_requests bordered">

    <div class="content messages">
    	<% for(var i=0;i < message.length;i++) { %>
    	<% var senderClass = "bubbledLeft"; %>
		<% if (message[i].fID == fID) { var senderClass = "bubbledRight"; } %>    	
    	<div class="<%= senderClass %>" ts="<%= message[i].ts %>" cid="<%= message[i].cID %>" fid="<%= message[i].fID %>" tid="<%= message[i].tID %>"><span><b><%= message[i].user %>:</b> <%= message[i].message %> <time><%= message[i].time %></time></span></div>
    	<% } %>	
    </div>
    <div class="message controls">
		<input class="hide message cID" />       
		<input class="hide message fID" value="<%= user._id %>" />
		<input class="hide message tID"  />  
		<input class="hide message tester" value="<%= tester %>" />
		<input class="hide message session_id" value="<%= session_id %>" />
		<input class="name message hide" placeholder="name" value="<%= user.username %>" /> 
        <input class="field message" placeholder="field" />
        <input class="send message" type="button"  value='<%= l('send') %>' />
		<p>
		  <label for="amount"><%= l('Points To Send:') %> <span id="amount">5</span>
		  <span class="balance"><%= l('Balance:') %> <span class="balance_value"><%= user.points %></span></span>
		  </label>
		</p>
		<input class="slider" type="range" name="slider-fill" id="slider-fill" value="5" min="0" max="10" data-highlight="true" />		
		<div id="slider"></div>
		<input type="button" class="send_points" value="<%= l('Send Points') %>">        
    </div>
    </section>
</section>


<script type="text/javascript">
$(document).ready(function(){

    var messages = [];
    var socket = io.connect(location.origin);
    var field = document.getElementById("field");
    var content = $(".content.messages");
    var name = document.getElementById("name");
    var match = false;
    var sender = "bubbledLeft";
	var cID = $(".message.controls .cID").val();    

    var text = $(".field.message").val();    
	$(".message.controls .cID").attr("value", global_cID);
	$(".message.controls .tID").attr("value", global_tID);     		
	global_fID = $(".message.controls .fID").val();  
	
	$('.content.messages').stop().animate({
	  scrollTop: $(".content.messages")[0].scrollHeight
	}, 800);  
	
	if ($("html").hasClass("iphone")) {

		$( "#amount" ).text( $("#slider-fill").val());	
		$("#slider-fill").change(function() {
	   		$( "#amount" ).text( $("#slider-fill").val());
		});	
   			
	} else {
	
	   	$( "#slider" ).slider({
	      value:5,
	      min: 0,
	      max: 10,
	      step: 1,
	      slide: function( event, ui ) {
	        $( "#amount" ).text(  ui.value );;
	      }
	    });
	}

   	
    
    $(".send_points").click(function(){
		var d = new Date();
		var h = d.getHours();
		var td = "am";
		if (h > 12) { 
		h = h - 12;
		td = "pm"; 
		}
		var m = d.getMinutes();
		m = checkTime(m);   
		var time = " " + h + ":" + m + " "+td;    
		var fID = $(".message.controls .fID").val();    
		var tID = $(".message.controls .tID").val();
		var points = $( "#amount" ).text();
		var balance_value = parseInt($(".balance_value").text()) - points;
		console.log("points "+points);
		var user = $(".name.message").val();   
		var message = user+' sent '+points;
		var html = $(".content.messages").html();
        html += '<div class="bubbledLeft"><span><b> System: </b>';
        html += message +' <time>' + time +'</time></span></div>';
        var confirm_message = 'Send '+ points + ' points?';
        if (confirm(confirm_message)) {
        $(".content.messages").html(html);  	
       	$(".balance_value").text(balance_value);

		    // Save it!
			sendPoints(fID, tID, points);
			socket.emit('send', { message: user+' sent '+points });  		    
		} else {
		    // Do nothing!
		}       	
  
	
    });
    
	    	 
    socket.on('message', function (data) {
    
    	var tester = $(".tester").val();
    	console.log("tester "+tester);
        if(data.message) {
            messages.push(data);
            var html = $(".content.messages").html();
            var chat_requests = '';            
            var fIDlist = [];
			var d = new Date();
			var h = d.getHours();
			var td = "am";
			if (h > 12) { 
			h = h - 12;
			td = "pm"; 
			}
			var m = d.getMinutes();
			m = checkTime(m);   
			var time = " " + h + ":" + m + " "+td;
			var timestamp = d.getTime();            
			global_fID = $(".message.controls .fID").attr("value");
			$('.content.messages').stop().animate({
			  scrollTop: $(".content.messages")[0].scrollHeight
			}, 800);  			
	            for(var i=0; i<messages.length; i++) {
            	var sender = "bubbledLeft";
            	match = false;
	            if ((messages[i].cID == $(".message.controls .cID").attr("value")) && 
	            	((messages[i].fID == $(".message.controls .fID").attr("value")) || 
	            	(messages[i].tID == $(".message.controls .fID").attr("value"))	
	            	)) {	
	            	$(".content.messages > div").each(function(){
	            		if ($(this).attr("ts") == messages[i].ts) {
	            			match = true;
	            		}
	            	});
		            	if (!match) {
		                if (messages[i].fID === $(".message.fID").attr("value")) {
		                sender = "bubbledRight";
		                }		            	
		                html += '<div ts="'+messages[i].ts+'" class="'+sender+'" name="'+messages[i].username+'" cID="'+messages[i].cID+'" fID="'+messages[i].fID+'" tID="'+messages[i].tID+'"><span><b>' + (messages[i].username ? messages[i].username : 'Server') + ': </b>';
		                html += messages[i].message + ' <time>' + time +'</time></span></div>';
		                }
		                match = false;
					}	                
	            }
           $(".content.messages").html(html);
           if (tester != "undefined") {
				html = $(".content.messages").html();
				if($(".content.messages div").length < 3) {           
                html += '<div class="bubbledLeft"><span><b> System: </b>';
                html += 'User Left! Sorry <time>' + time +'</time></span></div>';
                $(".content.messages").html(html);   
                } else if (($(".content.messages div").length > 2) && ($(".content.messages div").length < 5)) {
                html += '<div class="bubbledLeft"><span><b> System: </b>';
                html += 'Sorry I will give you some points!<time>' + time +'</time></span></div>';
                $(".content.messages").html(html);
                var cID = $(".message.controls .cID").val();
                var fID = $(".message.controls .fID").val();    
                grantPoints(cID, fID);             
                }       	
           }
	       
        } else {
            console.log("There is a problem:", data);
        }
    });
 
    $(".send.message").click(function() {
    	var tester = $(".tester").val();
		var user = $(".name.message").val();    	
    	var d = new Date();
    	var session_id = $(".session_id").val();
    	

    	
        if(user == "") {
            alert("Please type your name!");
        } else {
       		var d = new Date();
        	var h = d.getHours();
        	var td = "am";
        	if (h > 12) { 
        	h = h - 12;
        	td = "pm"; 
        	}
        	var m = d.getMinutes();
        	m = checkTime(m);   
    		var time = " " + h + ":" + m + " "+td;
    		var timestamp = d.getTime();
            var text = $(".field.message").val();
	    	//var text = text + time;    
	    	var cID = $(".message.controls .cID").val();
	    	var tID = $(".message.controls .tID").val();
	    	var fID = $(".message.controls .fID").val();
	    	$(".field.message").val("");        	    	
			global_cID = $(".message.controls .cID").attr("value"); 
            socket.emit('send', { ts: timestamp, cID: cID, fID: fID, tID: tID, message: text, username: user, tester: tester });
	    	if (session_id) {
	    		console.log("session_id "+session_id);
	            socket.emit(session_id, { ts: timestamp, cID: cID, fID: fID, tID: tID, message: text, username: user, tester: tester });	    		
	    	}
            var url = "/"+user+"/update_messages/";
            updateMessages(timestamp, cID, fID, tID, text, user, tester, url);
            text = "";
        }
    });
 
});
</script>