<section class="body right">
<!--messages-->
<% include subpage_header %>
	<div class="wrapper">
	<h2 class="light no-margin hide"><%= l('Messages to: ') %>&nbsp;</h2>

    <section class="chat_requests bordered">

    <div class="content messages">
    	<% for(var i=0;i < message.length;i++) { %>
    	<% var senderClass = "bubbledLeft"; %>
		<% if (message[i].fID == fID) { var senderClass = "bubbledRight"; } %>    	
    	<div class="<%= senderClass %>" ts="<%= message[i].ts %>" cid="<%= message[i].cID %>" fid="<%= message[i].fID %>" tid="<%= message[i].tID %>"><span><b><%= message[i].user %>:</b> <%= message[i].message %> <time><%= message[i].time %></time></span></div>
    	<% } %>	
    </div>
    <div class="message controls">
		<input class="hide message cID" />       
		<input class="hide message fID" value="<%= user._id %>" />
		<input class="hide message tID"  />  
		<input class="hide message tester" value="<%= tester %>" />
		<input class="hide message session_id" value="<%= session_id %>" />
		<input class="name message hide" placeholder="name" value="<%= user.username %>" /> 
        <input class="field message" placeholder="field" />
        <input class="send message" type="button"  value='<%= l('send') %>' />
		<p>
		  <label for="amount"><%= l('Points To Send:') %> <span id="amount">5</span>
		  <span class="balance"><%= l('Balance:') %> <span class="balance_value"><%= user.points %></span></span>
		  </label>
		</p>
		<input class="slider" type="range" name="slider-fill" id="slider-fill" value="5" min="0" max="10" data-highlight="true" />		
		<div id="slider"></div>
		<input type="button" class="send_points" value="<%= l('Send Points') %>">        
    </div>
    </section>
    <input class='hide send_button_text' value='<%= l('Send') %>' />
    <input class='hide points_to' value='<%= l(' points to ') %>' />
    
    
</section>


<script type="text/javascript">
	messageInitialize();
</script>