<menu>
	<a href="/<%= user.username %>/user_check_in/">
		<li class="arrow">
			Check-in
		</li>
	</a>
	<a href="/<%= user.username %>/user_lines/">
		<li class="arrow">
			Lines
		</li>
	</a>
	<a href="/<%= user.username %>/user_points/">
		<li class="arrow">
			Points
		</li>
	</a>
	<a href="/<%= user.username %>/user_profile/" class="right">
		<li class="arrow">
			Profile		
		</li>
	</a>
	<a href="/<%= user.username %>/user_notifications/" class="right">
		<li class="arrow line_pokes">
			Line Pokes
			<div class="hide"></div>	
		</li>
	</a>	
</menu>