<menu>
	<a href="/<%= user.username %>/user_check_in/">
		<li class="arrow">
			<%= l('Check-in') %>
		</li>
	</a>
	<a href="/<%= user.username %>/user_lines/">
		<li class="arrow">
			<%= l('Lines') %>
		</li>
	</a>
	<a href="/<%= user.username %>/user_points/">
		<li class="arrow">
			<%= l('Points') %>
		</li>
	</a>
	<a href="/<%= user.username %>/user_profile/" class="right">
		<li class="arrow">
			<%= l('Profile') %>		
		</li>
	</a>
	<a href="/<%= user.username %>/user_notifications/" class="right">
		<li class="arrow line_pokes">
			<%= l('Line Pokes') %>
			<div class="hide"></div>	
		</li>
	</a>	
</menu>