<% include header %>

<div class="container hero-unit">

  <form method="post" action="/register" class="form-skin register">
      <input type="text" name="firstName" required placeholder="<%= l('Your firstname here') %>"/>
      <input type="text" name="lastName" required placeholder="<%= l('Your lastname here') %>"/>
      <input type="text" name="username" required placeholder="<%= l('Your username here') %>"/>
      <input type="email" name="email" required placeholder="<%= l('Your Email here') %>"/>
      <input type="email" name="cemail" required placeholder="<%= l('Your Email (confirm) here') %>"/>
      <input type="password" name="password" required placeholder="<%= l('Your password here') %>"/>
      <input type="password" name="cpassword" required placeholder="<%= l('Your password (confirm) here') %>"/>
      <input type="text" name="telephone" placeholder="<%= l('telephone number (optional)') %>"/>
      <p></p>
      <p>
	  <label><%= l('Accept Terms & Conditions') %></label>
	  <br />
	  <input id="terms" name="terms" type="checkbox"/>
	  <br />   
      <input id="user_register" type="button" value="<%= l('Register Now') %>" class="btn btn-flat btn-blue no-radius"/>
      </p>
  </form>
</div>

<% include footer %>

<script>
$(document).ready(function(){
$(".iPhoneCheckLabelOn > span").text("Yes");
$(".iPhoneCheckLabelOff > span").text("No");
$("header > div").prepend('<div class="back button">Back</div>');
$(".back").click(function(){ window.location.replace("/"); 
});

});
</script>