<section class="content">

<% include subpage_header %>
<div class="wrapper profile">
	<h2 class="light no-margin">Profile</h2>

    <section class="bordered">
    <% if(user.check_in.location != undefined) { %>
	<% var d = new Date(user.check_in.check_in_time.getTime()) %>
	<% if (d.getHours() > 12) { var h = d.getHours() - 12; var td = "pm";} else { var h = d.getHours(); var td = "am"; } %>
	<% if (d.getMinutes() < 10) { var m = "0"+ d.getMinutes(); } else { var m = d.getMinutes(); }%>
	<% var time = d.toDateString() + " "+h+":"+m+" "+td; %>    
	<% var d = new Date(user.check_in.check_in_expire_time.getTime()) %>
	<% if (d.getHours() > 12) { var h = d.getHours() - 12; var td = "pm";} else { var h = d.getHours(); var td = "am"; } %>
	<% if (d.getMinutes() < 10) { var m = "0"+ d.getMinutes(); } else { var m = d.getMinutes(); }%>
	<% var etime = d.toDateString() + " "+h+":"+m+" "+td; %> 
    <% } %>

	  <form method="post" action="/register" class="form-skin register">
    <% if(user.check_in.location != undefined) { %>	  
    <p>Check-in Info:</p>
    <ul>	 
    	  <li>Check-in: <%= time %></li>
    	  <li>Expires: <%= etime %></li>
    	  <li><%= user.check_in.location %></li>
    </ul>    	      	  
    <% } %>    	   
    <p>User Info:</p>
	      <input class="hide" value="<%= user._id %>" type="text" name="id" required  />
	<ul>      	  
	      <li>Name: <%= user.name.first %> <%= user.name.last %></li>
	      <li>Username: <%= user.username %></li>
    <% if(user.email != undefined) { %>	  	      
	      <li>Email: <%= user.email %></li>
    <% } %>
    </ul>
          <p>Change your telephone number?</p>    
          <input type="text" name="telephone" placeholder="telephone number" value="<%= user.telephone %>" />

          <p>Change your password?</p>
    <ul>       
	      <input type="password" name="password" required placeholder="Your password here"/>
	      <input type="password" name="cpassword" required placeholder="Your password (confirm) here"/>
	      <p></p>
	      <p>
	      <input id="profile_update" type="button" value="Update Now" class="btn btn-flat btn-blue no-radius"/>
	      </p>
	</ul>	      
	  </form>
	 
    </section>
</div>
</section>


<script type="text/javascript">
   $("input[name='telephone']").intlTelInput();
   $("#profile_update").click(function(){
   	console.log("profile update");
	   var valid = true;	   
	   var telephone = $("input[name='telephone']").val();
	   var password = $("input[name='password']").val();
	   var cpassword = $("input[name='cpassword']").val();
	   var id = $("input[name='id']").val();
	   var url = "/<%= user.username %>/update_password/";
	   if (password != cpassword || password.length == 0) {
		   $("input[name='password']").addClass("invalid");
		   $("input[name='cpassword']").addClass("invalid");
		   valid = false;
	   }
	   if (valid) {
		   updatePassword(id, password, url, telephone);
		} 	   
   });
