<section class="notifications right">
<!--notifications -->
<% include subpage_header %>
<div id="wrapper">
	<h2 class="light no-margin hide">Line Pokes</h2>
    <section class="chat_requests bordered">
    <ul><%- requests %></ul>
    <div class="notifications accordion off">
	    <div class="content notifications">
	    	<%- message %>
	    </div>
	    <div class="notifications controls">
			<input class="hide cID notifications" value="<%= user.check_in.cID %>" />       
			<input class="hide fID notifications" value="<%= user._id %>" />
			<input class="hide tID notifications"  />    		
			<input class="name notifications hide" placeholder="name" value="<%= user.username %>" /> 
	        <input class="field notifications" placeholder="message" />
	        <input class="send notifications" type="button"  value='send' />
	    </div>
    </div>
    </section>
</div>
</section>

<script type="text/javascript">
 

$(document).ready(function(){
    global_tID = ""; 	
    var messages = [];
    var socket = io.connect(location.origin);
    var field = $(".field.notfications");
    var sendButton = $(".send.notifications");
    var content = $(".content.notifications");
    var name = $(".send.notifications"); 
    var match = false;    
	$(".notifications.controls .cID").val(global_cID);
	$(".notifications.controls .tID").val(global_tID);
	global_cID = $(".notifications.controls .cID").val();   
	global_fID = $(".notifications.controls .fID").val();
	/*  
	if ($(".content.notifications").text().length > 0) {
		$(".accordion").removeClass("off");
		$("notifications.controls .send").click();
	}
	*/    
	var nPokes = $(".chat_requests ul li").length;
	
	if (parseInt(nPokes) > 0) {
	$(".line_pokes div").text(nPokes);    
	}
	
	if ($(".notifications.content p").length > 0 && $(".chat_requests > ul > li").length < 1) {
	var fIDlist = [];  
	$(".notifications.content p").each(function(){
		if ( ($(this).attr("fid") != $(".notifications.fid").attr("value")) && 
		($(this).attr("name") != $(".name.notifications").attr("value")) ) {
			fIDlist.push($(this).attr("name")+"_"+$(this).attr("fid"));
		}
	});
	var fIDlistArrayUnique = ArrNoDupe(fIDlist);
	var chat_requests = "";
    if (fIDlistArrayUnique.length > 0) {
   		$(".line_pokes div").replaceWith("<div>"+fIDlistArrayUnique.length+"</div>");
   		    for(var i=0; i<fIDlistArrayUnique.length; i++) {
	            var ufID = fIDlistArrayUnique[i].split("_").pop();
	            fIDlistArrayUnique[i].split("_").pop();
	            chat_requests += '<li ufid="'+ufID+'">' + fIDlistArrayUnique[i].split("_")[0] + '</li>';
            }
            $(".chat_requests ul").html(chat_requests);
    } else {
   		$(".line_pokes div").addClass("hide");
    }	
	}
	
    socket.on('message', function (data) {
        if(data.message) {
            messages.push(data);
            var html = $(".content.notifications").html();
            var chat_requests = '';            
            var fIDlist = [];
		 	global_cID = $(".notifications.controls .cID").attr("value");
			global_fID = $(".notifications.controls .fID").attr("value");              
 			global_tID = $(".notifications.controls .tID").attr("value");
			
	            for(var i=0; i<messages.length; i++) {
	            if ($(".notifications.controls .cID").attr("value") == messages[i].cID) {
		            if (typeof(messages[i].username) != 'undefined') {
	            	$(".content.notifications p").each(function(){
	            		if ($(this).attr("ts") == messages[i].ts) {
	            			match = true;
	            		}
	            	});
            	if (!match) {
            			console.log("messages[i].fID "+messages[i].fID);
            			console.log("fID "+$(".notifications.controls .fID").attr("value"));	
            			if (messages[i].fID != $(".notifications.controls .fID").attr("value")) {	            
	            		fIDlist.push(messages[i].username+"_"+messages[i].fID);
		                }
		                html += '<p ts="'+messages[i].ts+'" name="'+messages[i].username+'" cID="'+messages[i].cID+'" fID="'+messages[i].fID+'" tID="'+messages[i].tID+'"><b>' + (messages[i].username ? messages[i].username : 'Server') + ': </b>';
		                html += messages[i].message + '</p>';

		            }
		            match = false;		            
	            		}
					}
	            }

	       var fIDlistArrayUnique = ArrNoDupe(fIDlist);
	       if (html.length > 0) {        
           		$(".content.notifications").html(html);
				$('.content.notifications').stop().animate({
				  scrollTop: $(".content.notifications")[0].scrollHeight
				}, 800);           		
           }
           if (fIDlistArrayUnique.length > 0) {
           		$(".line_pokes div").replaceWith("<div>"+fIDlistArrayUnique.length+"</div>");
           } else {
           		$(".line_pokes div").addClass("hide");
           }
           if (global_tID) {
           		$(".accordion .content.notifications p").each(function(){
           			if (($(this).attr("fid") == global_tID) || ($(this).attr("tid") == global_tID)) {
           				$(this).show();
           			}
           			else {
           				$(this).hide();
           			}
           		});
           }
           var chat_requests = $(".chat_requests ul").html();
            for(var i=0; i<fIDlistArrayUnique.length; i++) {
	            var ufID = fIDlistArrayUnique[i].split("_").pop();
	            fIDlistArrayUnique[i].split("_").pop();
	            if ((ufID != $(".notifications.fid").attr("value")) &&
	            	($(".chat_requests ul li[ufid='"+ufID+"']").length < 1)){
	            chat_requests += '<li ufid="'+ufID+'">' + fIDlistArrayUnique[i].split("_")[0] + '</li>';
	            }	            
            }
            if (chat_requests.length > 0) {
	            $(".chat_requests ul").html(chat_requests);
	        }
	       $(".chat_requests ul li").click(function() {
	       		var notification_class = $(this).attr("ufid");
	       		global_tID = notification_class;
				$(".notifications.controls .tID").attr("value", global_tID);	       		
	       		$(".accordion").toggleClass("off");
	       		$(".accordion p").hide();
	       		$(".accordion ."+notification_class).show();
				$('.content.notifications').stop().animate({
				  scrollTop: $(".content.notifications")[0].scrollHeight
				}, 800); 	       		
           		$(".accordion .content.notifications p").each(function(){
           			if (($(this).attr("fid") == global_tID) || ($(this).attr("tid") == global_tID)) {
           				$(this).show();
           			}
           			else {
           				$(this).hide();
           			}
           		});	   
            var all_content = $(".content").html();
            var requests = $(".chat_requests > ul ").html();    
            var url = "/"+name.value+"/update_notification_messages/";
            global_fID = $(".message.controls .fID").attr("value"); 
            global_cID = $(".message.controls .cID").attr("value");           
			updateNotificationMessages(global_cID, global_fID, all_content, url, requests);           		    			
	       });            
	       
        } else {
            console.log("There is a problem:", data);
        }
    });
 
    $(".send.notifications").click(function() {
    	var d = new Date();
        if(name.value == "") {
            alert("Please type your name!");
        } else {
       		var d = new Date();
        	var h = d.getHours();
        	var td = "am";
        	if (h > 12) { 
        	h = h - 12;
        	td = "pm"; 
        	}
        	var m = d.getMinutes();
        	m = checkTime(m);   
    		var time = " " + h + ":" + m + " "+td;
            var text = $(".field.notifications").val();
    		var timestamp = d.getTime();            
    		var user = $(".name.notifications").val();
    		html = "";
	    	text = text + time; 
	    	global_tID = $(".notifications.controls .tID").attr("value");
	    	global_cID = $(".notifications.controls .cID").attr("value");      
	    	global_fID = $(".notifications.controls .fID").attr("value");        	      
            socket.emit('send', { ts: timestamp, cID: global_cID, fID: global_fID, tID: global_tID, message: text, username: user });
			var html = $(".content.notifications").html();
            html += '<p ts="'+timestamp+'" name="'+user+'" cID="'+global_cID+'" fID="'+global_fID+'" tID="'+global_tID+'"><b>' + user + ': </b>';
            html += text + '</p>\n';          
            var url = "/"+name.value+"/update_messages/";
            updateMessages(global_cID, global_fID, global_tID, html, url);
        }
    });
 
 
});
</script>