<section class="content">

<% include subpage_header %>
<div id="wrapper">
	<h2>Lines</h2>
		<ul>
			<% for(var i=0; i<lines.length; i++) {%>
			
				   <%if (lines[i].check_in.line_length) { %>
				   <%if (JSON.stringify(lines[i]._id) != JSON.stringify(user._id)) { %>	
			   		<li class="arrow"> 
			   		<%= lines[i].check_in.location %> <%= lines[i].name.first %>

						  <input class="hide" id="cID" type="text" name="cID" value="<%= lines[i].check_in.cID  %>" />
						  <input class="hide" id="tID" type="text" name="tID" value="<%= lines[i]._id %>" />
						  <input class="hide" id="fID" type="text" name="fID" value="<%= user._id %>" />						  						  
						  <span type="button" class="btn btn-flat btn-blue no-radius">Chat</span>
		   
				   		 
				   <% } %>
				   </li>
			<% } %>				   
			<% } %>
		</ul>
    </section>
    </div>
</section>
