<section class="content">

<% include subpage_header %>
<div id="wrapper">
	<h2 class="light no-margin">Notifications</h2>
    <section class="bordered">
		<ul>
		<% if (messages_doc[0]) { %>
			<% for(var i=0; i<messages_doc[0].thread.length; i++) {%>
			<!-- messages_doc[0].thread[i] <%= messages_doc[0].thread[i] %> -->
				<% if (cID) {%> 
					<!--
					messages_doc[0].thread[i].fID <%= messages_doc[0].thread[i].fID %>
					user._id <%= user._id %>
					-->
					<% if (true) {%> 
						<a href="/<%= user.username %>/message/">			
							<li>
							<form id="form<%= i %>">
							User: <%= messages_doc[0].thread[i].username %>
							  <input class="hide" id="cID" type="text" name="cID" value="<%= cID %>" />
							  <input class="hide" id="fID" type="text" name="fID" value="<%= cID %>" />
							  <input class="hide" id="tID" type="text" name="tID" value="<%= messages_doc[0].thread[i].tID %>" />
							  <span class="right">Message</span>
							</form>
							</li>
						</a>
					<% } %>			
				<% } %>
			<% } %>		
		<% } %>		
		</ul>
    </section>
</div>
</section>
