<section class="body" class="right">

<% include subpage_header %>
<div class="wrapper">
	<h2>Lines</h2>
		<ul class="lines">
			<% for(var i=0; i<lines.length; i++) {%>
			
				   <%if (lines[i].check_in.line_length) { %>
				   <%if (JSON.stringify(lines[i]._id) != JSON.stringify(user._id)) { %>	
				    <a href="/<%= user.username %>/messages/">
			   		<li class="arrow"> 

						<form id="form<%= i %>">

						  <input class="hide" id="cID" type="text" name="cID" value="<%= lines[i].check_in.cID  %>" />
						  <input class="hide" id="tID" type="text" name="tID" value="<%= lines[i]._id %>" />
						  <input class="hide" id="fID" type="text" name="fID" value="<%= user._id %>" />
						  <input class="hide" id="tester" type="text" name="tester" value="<%= lines[i].tester %>" />
						  <input class="hide" id="session_id" type="text" name="session_id" value="<%= lines[i].session_id %>" />

						  <span class="name" ><%= lines[i].name.first %></span><span type="button" class="right">Chat</span><br /> 
						  <span class="location"><%= lines[i].check_in.location %></span> 

						</form>
				   <% } %>
				   </li>
				   </a>
			<% } %>				   
			<% } %>
		</ul>
    </section>
    </div>
</section>

<script type="text/javascript">
var markup,
global_cID,
global_fID,
global_tID;

$(document).ready(function(){
global_cID = $("#cID").val();
global_fID = $("#fID").val();
global_tID = $("#tID").val();
});	   
function postMessages(url, checkinID, toID, fromID) {
	console.log("checkinID "+checkinID+" fromID "+fromID+" toID "+ toID);
    $.ajax({ 
          url: url,
          type: 'POST',
          data: { checkinID: checkinID, fromID: fromID, toID: toID },
          success: function(data){
          	  markup = data;
          	  //console.log("postMessages data "+markup);
          	  //alert("success!");
          	  $("body > section.body").last().after(markup);
          	  setTimeout(function(){
          		$(".body.right").last().addClass("active"); 
	
          	  }, 1000);           		  	           	  
          }
          , error: function(jqXHR, textStatus, err){
              //alert('text status '+textStatus+', err '+err)
              console.log('text status '+textStatus+', err '+err);
			  //updateMessages(global_cID, messages);              
          }
       });
}               	   
</script>	   