<section class="body right checkin">

<% include subpage_header %>
<div class="wrapper">

	<h2><%= l('Check-in') %></h2>
	<p><%= l('How long is the line?') %></p>
    <section class="bordered">
        <div class="container-fluid">
        	<p><%= checkin_status %></p>
        	<ul class="checkin">
			<li onclick="getLocation(30)"><%= l('AT LEAST 30 MINUTES') %><span class="right"><%= l('Check-In') %></span></li>
			<li onclick="getLocation(60)"><%= l('AT LEAST 1 HOUR') %><span class="right"><%= l('Check-In') %></span></li>
			<li onclick="getLocation(120)"><%= l('MAYBE 2 HOURS!') %><span class="right"><%= l('Check-In') %></span></li>
			<li onclick="getLocation(1440)"><%= l('AT LEAST A DAY!') %><span class="right"><%= l('Check-In') %></span></li>
			</ul>        
			<form method="post" action="/<%= user.username %>/user_check_in/" class="form-skin hide checkin">
				  <input id="location" type="text" name="location" placeholder="<%= l('My Location') %>" />
				  <input class="hide" id="coords" type="text" name="geolocation" placeholder="<%= l('geolocation') %>" />
				  <input class="hide" id="line_length" type="text" name="line_length" placeholder="<%= l('length') %>" />
				  <input id="checkin" type="button" value="<%= l('check in') %>" class="btn btn-flat btn-blue no-radius"/>
			</form>
			<p class="hide" id="demo"></p>
			<ul class="venues hide"></ul>
        </div>    
    </section>
</div>    
</section>
