<section class="content">

<% include subpage_header %>
<div id="wrapper">
	<h2>Lines</h2>
		<ul>
			<% for(var i=0; i<lines.length; i++) {%>
			
				   <%if (lines[i].check_in.line_length) { %>
				   <%if (JSON.stringify(lines[i]._id) != JSON.stringify(user._id)) { %>				   
			   		<li> 
			   		<%= lines[i].check_in.location %> <%= lines[i].name.first %>
			   		<form method="post" action="/<%= user.username %>/user_message/" class="form-skin">
						<fieldset>
						  <p id="demo">How Long Is The Line:</p>
						  <label class="hide" >cID:</label>
						  <input class="hide" id="cID" type="text" name="cID" value="<%= lines[i].check_in.cID  %>" />
						  <label class="hide">tID:</label>
						  <input class="hide" id="tID" type="text" name="tID" value="<%= lines[i]._id %>" />
						  <label class="hide" >fID:</label>
						  <input class="hide" id="fID" type="text" name="fID" value="<%= user._id %>" />						  						  
						</fieldset>
						<p>
						  <input type="submit" value="Message" class="btn btn-flat btn-blue no-radius"/>
						</p>										   		
			   		</form>				   
				   		 
				   <% } %>
				   </li>
			<% } %>				   
			<% } %>
		</ul>
    </section>
    </div>
</section>
