<h3><%= l('How does it work?') %></h3> 
<p>
<%= l('Register an account or connect through Facebook. Press') %> &#34;<%= l('Lines') %>&#34; <%= l('to find lines in your area. Agree to use location services so we can find a line at your venue where someone is checked in.') %>
</p>
<h3><%= l('Checked In?') %></h3>
<p>
<%= l('Well, in order for this to work, one person has to check in to facilitate the interaction. People who check in can be rewarded with points by people who Line Poke them. When you actually check in you are given a list of line lengths in time. These are only your estimates on how long the line is to help us determine when to terminate a Check In. If you stray 500 meters away from your Check In for 6 minutes we automatically Check Out your Check In at which point you need to Check In to become available for Line Pokes. Depending on if the app is currently active or accepting push notifications, this feature may not be functional.') %>
</p>
<h3><%= l('Line Poke?') %></h3>
<p>
<%= l('Yes, well if you have checked in, someone will want to connect to you through a line poke These pokes are sent by going to Lines and then selecting a specific check in from a list.') %>
</div>
<h3><%= l('Does LineSocial Track Me?') %></h3>
<p>
<%= l('LineSocial will only track your location for duration of your Check In. Check In either expires by time, another Check In or movement 500 meters away from the point of Check In for 6 minutes.  Your account information will include Firstname, Lastname, Username. For users who registered manually by entering username and password we store their encrypted password and email address. For users registered via Social Media sites such as Facebook, no username and password are stored. Instead we store an ID associated with that account.') %> 
</p>
<h3><%= l('Can I read my old messages?') %></h3>
<p>
<%= l('No. Once you finished your line and your checkin expires, you will not have access to previous messages.  This app is intended for the Lines. What happens in the lines stays in the lines.') %>
</p>
<h3><%= l('Does my picture get loaded?') %></h3>
<p>
<%= l('No, the point of this app is to remain anonymous until you wish to share your line location. You decide if you want to share your spot in line. You could say this is the') %> <i><%= l('antisocial') %> </i> <% l('social network!') %>
</p>