  <div class="container hero-unit">
  <h2><%= l('Password Reset') %></h2>
    <form id='captcha' method="POST" action="/forgot">
        <div id="mc">
            <canvas id="mc-canvas" class="<%= error ? 'mc-invalid' : '' %>"></canvas>
        </div>    
      <input type="text" name="email" value="<%= l('you@example.com') %>">
      <input id="submit" type="submit" value="<%= l('forgot password') %>">
    </form>
  </div>  
<script type="text/javascript">
        (function() {
			setTimeout(function(){
				$("header > div .back.button").addClass("active");	
			}, 1000);
		
		    $(".back.button").click(function(){
			  $("header > div .back.button").removeClass("active");    
			  $(".body").last().removeClass("active"); 
			  $(".checkin").remove();
		    });        
                $('#captcha').motionCaptcha('<%= shape %>');
        })();
</script>
