<section class="content">

<% include subpage_header %>
<div class="wrapper">
	<h2 class="light no-margin"><%= l('Confirm Email') %></h2>
	<p>
		<%= l('Please trace drawing, then click Send Email.') %><br />
		<%= l('Check your inbox for confirmation code.') %>
	</p>
	
    <section class="bordered validate_email">

	    <form id='captcha' method="POST" action="/<%= user.username %>/send_validate_email">
	        <div id="mc">
	            <canvas id="mc-canvas" class="<%= error ? 'mc-invalid' : '' %>"></canvas>
	        </div>    
	      <input id="send_confirm_email" type="button" value="<%= l('Send Email') %>" >
	    </form>

    </section>
</div>
</section>

<script type="text/javascript">
$(document).ready(function(){

    $('#captcha').motionCaptcha('<%= shape %>');
	
	$("#send_confirm_email").click(function(){
		var points = $("input[name='_points']").attr("value");
		var url = $("#captcha").attr("action");
		captchaPoints(points, url);
	});
});

</script>
